<app-header></app-header>
<div class="col-md-6 aaa">
    <mat-card class="my-card">
        <mat-card-content>
            <mat-toolbar>
                <span style="float: left;">Privacy Policy</span>
            </mat-toolbar>

            <br />
            <p style="margin-left: 20px;margin-right:20px;text-align: justify;font-size: medium;"> &nbsp;&nbsp;&nbsp;&nbsp;
                In order for the website to provide a safe and useful service,
                it is important for AutoWithAll to collect, use, and share personal information.</p>

            <p style="margin-left: 20px;margin-right:20px;text-align: justify;font-size: medium;">
                &nbsp;&nbsp;&nbsp;&nbsp;Information posted on AutoWithAll is publicly available. If you choose to
                provide us with personal information, you are consenting to the transfer and storage of
                that information on our servers. We collect and store the personal information such as
                Email address, contact information, and (depending on the service used) sometimes financial information,
                Computer sign-on data, statistics on page views, traffic to and from AutoWithAll
                and response to advertisements .
            </p>
            <p style="margin-left: 20px;margin-right:20px;text-align: justify;font-size: medium;">
                &nbsp;&nbsp;&nbsp;&nbsp;We use users' personal information to: Provide our services, Resolve disputes, collect fees,
                and troubleshoot
                problems , Encourage safe trading and enforce our policies , Customize users experience, measure
                interest in
                our services ,Improve our services and inform users about services and updates.
            </p>
            <p style="margin-left: 20px;margin-right:20px;text-align: justify;font-size: medium;">
                &nbsp;&nbsp;&nbsp;&nbsp;We don't sell or rent users' personal information to third parties for their marketing
                purposes
                without users' explicit consent. We may disclose personal information to respond to legal requirements,
                enforce our policies, respond to claims that a posting or other content violates other's rights, or
                protect
                anyone's rights, property, or safety.
            </p>
            <p style="margin-left: 20px;margin-right:20px;text-align: justify;font-size: medium;">
                &nbsp;&nbsp;&nbsp;&nbsp;We use lots of tools (encryption, passwords, physical security) to protect your personal
                 information against unauthorized access and disclosure.
            </p>
            <p style="margin-left: 20px;margin-right:20px;text-align: justify;font-size: medium;">
                &nbsp;&nbsp;&nbsp;&nbsp;We provide faq page for support and also will provide user manual along with it. 
                Apart from that you can post any inquiry or any report for the advertisement in inquiry page.
                <br/><br/>Customer Support : autowithallsupport@gmail.com or <a [routerLink]="['/report-ad']"> <i>Cusomer Inquiry</i></a><br />
            </p>
        </mat-card-content>
    </mat-card>
</div>
<app-footer></app-footer>