<app-agentsidebar></app-agentsidebar>

<mat-grid-list cols="3" rows="4" rowHeight="130px">

    <mat-grid-tile rowspan="4">
        <form class="my-form" >
            <mat-form-field class="full-width">
                <input matInput placeholder="Display Name" >
             </mat-form-field>
            <br>
            <mat-form-field class="full-width">
                <input matInput placeholder="Display Contact Number" >Saman
             </mat-form-field>
             <br>
             <mat-form-field class="full-width">
                <input matInput placeholder="Display Email" >92920
             </mat-form-field>
             <br>
             <mat-form-field class="full-width">
                <input matInput placeholder="Location " >92920
             </mat-form-field>
             <br>
             <mat-form-field class="full-width">
                <input matInput placeholder="Title" >
             </mat-form-field>
            <br>
            <mat-form-field class="full-width">
                <input matInput placeholder="Price" >
             </mat-form-field>
             <br>
             <mat-form-field class="full-width">
                <input matInput placeholder="Vehicle Type" >
             </mat-form-field>
             <br>
             <mat-form-field class="full-width">
                <input matInput placeholder="Manufacturer " >
             </mat-form-field>
             <br>
        </form>
   </mat-grid-tile>

    <mat-grid-tile rowspan="4">
        <form class="my-form" >
           
             <mat-form-field class="full-width">
                <input matInput placeholder="Model " >
             </mat-form-field>
             <br>
             <mat-form-field class="full-width">
                <input matInput placeholder="Condition " >
             </mat-form-field>
             <br>
             <mat-form-field class="full-width">
                <input matInput placeholder="Model Year " >
             </mat-form-field>
             <br>
             <mat-form-field class="full-width">
                <input matInput placeholder="Registered Year " >
             </mat-form-field>
             <br>
             <mat-form-field class="full-width">
                <input matInput placeholder="Mileage " >
             </mat-form-field>
             <br>
             <mat-form-field class="full-width">
                <input matInput placeholder="Engine Capacity " >
             </mat-form-field>
             <br>
             <mat-form-field class="full-width">
                <input matInput placeholder="Transmission " >
             </mat-form-field>
             <br>
             <mat-form-field class="full-width">
                <input matInput placeholder="Vehicle Type " >
             </mat-form-field>
             <br>
             <mat-form-field class="full-width">
                <input matInput placeholder="Vehicle Color " >
             </mat-form-field>
        </form>
    </mat-grid-tile>

    <mat-grid-tile rowspan="3">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Description</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p>
                   M avbsj jms M SNB hjdm aghanbavghsmnx JDJCSNhcjsnbab  hdbhbxjs xjahvss gxsbs
                </p>
            </mat-card-content>
            
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        
        <button mat-raised-button color="primary" [routerLink]="['/viewads']">SAVE</button>
        
    </mat-grid-tile>
</mat-grid-list>
