<app-header></app-header>
<div class="col-md-6 aaa">
    <mat-card class="my-card">
        <mat-card-content>
            <mat-toolbar>
                <span style="float: left;">What is AutoWithAll</span>
            </mat-toolbar>

            <br/>
            <p style="margin-left: 20px;margin-right:20px;text-align: center;font-size: medium;"> &nbsp;&nbsp;
                AutoWithAll is a web-portal designed for buying and selling vehicles by connecting
                 vehicle sellers, vehicle buyers, insurance companies and leasing providers all together.
                Our main goal is to help the customers who are struggling in choosing an Insurance Company and Leasing Company 
                when buying a vehicle.</p>
            
            <p style="margin-left: 20px;margin-right:20px;text-align: center;font-size: medium;">
                    &nbsp;&nbsp;Our system will help to the people who would like to buy a vehicle and to choose a 
                insurance company and a leasing company in same platform .And also we provide the 
                insurance companies and leasing companies the opportunity to post insurance and leasing plans to the 
                clients through their advertisements.
            </p>
            <p>
                <mat-card><img src="assets/img/logo.png"  style="margin-left: 80px;" width="500" height="300"></mat-card>
            </p>
        </mat-card-content>
    </mat-card>
    </div>
<app-footer></app-footer>
