

  .girl {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }

  .profileimg {
    width: 160px;
    height: 150px;
    object-fit: cover;
  }

  .logo {
    width: 150px;
    height: 75px;
    
   
  }

  .example-card {
    max-width: 400px;
  }

 
  mat-grid-tile {
    background: white;
  }

  p span { 
    display: block; 
    margin-bottom: 10px;
  } 
    
  mat-card {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
   }     