<app-agentsidebar></app-agentsidebar>
<mat-grid-list cols="4" rows="6" gutterSize="30px" rowHeight='180px'>

  <mat-grid-tile>
    <img src="assets/img/download.jpg"class="profileimg" >
  </mat-grid-tile>

  <mat-grid-tile colspan="2">
    <mat-card>
      <p style="font-size: 120%">
        <span>Name : {{user.fname}} {{user.lname}}</span >

        <span>Contact Number : {{user.tnumber}}</span>

        <span>E-mail : {{user.username}} </span>

        <span>Registered Date : {{user.date}}</span>
        
      </p>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card style="background-color: #2aad0c">
      <p style="color:white;  text-align: center">
        <mat-icon>check_circle_outline</mat-icon>
        <span style="font-size: 150%">POSTED ADs</span>
        <span style="font-size: 200%">17</span>

      </p>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="1">
    <mat-card>
      <p>
        <span style="font-size: 150%">Package Details</span>

        <span>Selected Package : 1500/=</span>
        <span>Total Ads per package: 40 </span>

      </p>

    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="2">
    <mat-card>
      <p>

        <span style="font-size: 150%; color:green">Your status : ACTIVE</span>
        <span>You membership will expire in 5 days </span>
      </p>
      <mat-card-actions>
        <button mat-raised-button color="primary" style="margin-right: 50px; margin-left:50px">Click To PAY</button>

        <button mat-raised-button color="primary">Click To UPGRADE</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card style="background-color: DarkOrange">
      <p style="color:white;  text-align: center">
        <mat-icon>timelapse</mat-icon>
        <span style="font-size: 150%">REMAINING ADs</span>
        <span style="font-size: 250%">17</span>

      </p>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="2">
    <mat-card>

      <p style="font-size: 120%">
        <span style="font-size: 150%">Latest Posted Advertisement</span>
        <span>Posted On : 2020/06/01 </span>
        <span>Ad Reference : 015</span>
        <span>Model Year: 2013</span>
        <span>Manufacture  : Audi </span>
        <span>VehicleType: A4</span>
        <span>Views : 10</span>
      </p>

    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="2" >
    <mat-card>

        <img src="assets/img/car.jpg"  class="car1" width="350px" height="200px">
    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile rowspan="2" colspan="4">
    <p>
      <span style="font-size: 150%">View Monthly Earning</span>

    </p>
  </mat-grid-tile>


</mat-grid-list>


