<app-header></app-header>
<div class="col-md-6 aaa">
    <mat-card class="my-card">
        <mat-card-content>
            <mat-toolbar>
                <span style="float: left;">Terms Of Use</span>
            </mat-toolbar>

            <br />
            <p style="margin-left: 20px;margin-right:20px;text-align: justify;font-size: medium;">
                &nbsp;&nbsp;&nbsp;&nbsp;
                Please thoroughly read this terms and conditions carefully before accessing this site.
                By accessing, this web site you confirm your agreement to provisions. The site reserves the right to
                modify,
                add or remove these provisions. Therefore please check these provisions regularly before accessing the
                web site.
            </p>

            <p style="margin-left: 20px;margin-right:20px;text-align: justify;font-size: medium;">
                &nbsp;&nbsp;&nbsp;&nbsp;General<br />

                Advertisers and users are responsible for ensuring that advertising content, text, images, graphics,
                video ("Content") uploaded for inclusion on AutoWithAll complies with all applicable laws.
                Advertisers and Users are required to submit the name, a valid email address and a valid mobile number,
                before they are allowed to post advertisements or before they are allowed to use the site. The name,
                email address and mobile number of the Advertiser and User shall be publicly displayed. AutoWithAll
                shall not be responsible or liable for any issues, claims, damages, losses resulting from the personal
                information being publicly available.
                The advertiser or the user may be asked to provide additional verifications or information, including
                but not limited to phone number and address, before AutoWithAll accepts to publish the advertisement or
                information.
                Every user of the Site is solely responsible for keeping passwords and other account identifiers safe
                and secure. The account owner is entirely responsible for all activities that occur under such a
                password or account. Furthermore, the user or advertiser must notify us of any unauthorized use of the
                password or account. The Site shall not be responsible or liable, directly or indirectly, in any way for
                any loss or damage of any kind incurred as a result of, or in connection with the failure to comply with
                this section.

            </p>
            <p style="margin-left: 20px;margin-right:20px;text-align: justify;font-size: medium;">
                &nbsp;&nbsp;&nbsp;&nbsp;Copyright<br />

                The User shall not use the site or communication tools to harvest addresses, send spam or otherwise
                breach the Terms and Conditions of Use or Privacy Policy.
                The material (including the Content, and any other content, software or services) contained on are the
                property of its owners, its subsidiaries, affiliates and/or third party licensors. Any intellectual
                property rights, such as copyright, trademarks, service marks, trade names and other distinguishing
                brands on the Web Site are the property of AutoWithAll or its owners. No material on this site may be
                copied, reproduced, republished, installed, posted, transmitted, stored or distributed without written
                permission from AutoWithAll.

            </p>
            <p style="margin-left: 20px;margin-right:20px;text-align: justify;font-size: medium;">
                &nbsp;&nbsp;&nbsp;&nbsp;Payement<br />

                Individual advertisers have to pay Rs.400 for each advertising. Sales agents can go with plan NO1,NO2 or
                NO3.
                Plan No.01; monthly membership Price is Rs.1500 he can allowed to post 40 ads, one ad cost is 300/=
                So if he post 40 ads 300*40=12000 ; his profit is Rs.10500
                Plan No.02; monthly membership Price is Rs.3000 he can allowed to post 100 ads, one ad cost is
                300/= so if he post 40 ads 300*100=30000 his profit is Rs.27000
                Plan No.03; monthly membership Price is Rs.5000 he can allowed to post 150 ads, one ad cost is
                300/= so if he post 40 ads 300*150=45000 his profit is Rs.40000.and this agent will allow post topads.
                Also top ad cost Rs.600 he can allow 10 top ads posts per month.

                Leasing companies and Insurance companies have to pay Rs.1000 per month for membership.

            </p>
            <p style="margin-left: 20px;margin-right:20px;text-align: justify;font-size: medium;">
                &nbsp;&nbsp;&nbsp;&nbsp;User consent<br />

                Advertisers grant AutoWithAll or its owners, a perpetual, royalty-free, irrevocable, non-exclusive right
                and license to use, reproduce, modify, adapt, publish, translate, create derivative works from and
                distribute such Content or incorporate such Content into any form, medium, or technology now known or
                later developed.

                AutoWithAl or its owners or its holding company or its subsidiaries shall use the content or the
                information provided by the advertisers or the users for business purposes or promotions or marketing or
                product development of the AutoWithAl or its owners or its Parent company or its subsidiaries. The
                advertiser or the supplier agrees to receive promotional emails from the Site.
                The advertisers or the users authorize and give their irrevocable consent to AutoWithAll or its owners
                to disclose the information to its Parent company or its subsidiaries for business or marketing
                purposes.

                Any material that is submitted to the Site and/or provided, including but not limited to, questions,
                reviews, comments, and suggestions will become the sole and exclusive property of AutoWithAll and shall
                not be returned. When any comments or reviews are posted to the Site, the person posting such comments
                or reviews grants the right to AutoWithAll to use the name in connection with such review, comment, or
                other content.

            </p>
            <p style="margin-left: 20px;margin-right:20px;text-align: justify;font-size: medium;">
                &nbsp;&nbsp;&nbsp;&nbsp;Disclaimer<br />

                AutoWithAll or its owners shall assume no responsibility whatsoever for the use of AutoWithAll and
                disclaims all responsibility for any injury, claim, liability, or damage of any kind resulting from or
                arising out of or any way related to,
                (a) any errors on AutoWithAll or the content, including but not limited to technical errors and
                typographical errors,
                (b) the unavailability of AutoWithAll,
                (c) your use of AutoWithAll site or the content.

            </p>
            <p style="margin-left: 20px;margin-right:20px;text-align: justify;font-size: medium;">
                &nbsp;&nbsp;&nbsp;&nbsp;Termination<br />

                If the advertiser or user is dissatisfied with the service or if they do not agree with any part of this
                agreement or the service then the sole and exclusive remedy is to discontinue using the service.


            </p>
            <p style="margin-left: 20px;margin-right:20px;text-align: justify;font-size: medium;">
                &nbsp;&nbsp;&nbsp;&nbsp;Confidentiality<br />

                We acknowledge that software and the documentation are appropriate to AutoWithAll. AutoWithAll shall use
                personal information to provide services and troubleshoot problems, to encourage safe trading, improve
                the services and inform users about services and updates, to communicate marketing promotions , to
                provide Leasing and Hire Purchase facilities and to do such other things and or services as required by
                AutoWithAll.
                AutoWithAll may disclose personal information to respond to legal requirements and to respond to claims
                that a posting or other content violates other's rights, or to protect anyone's rights, property, or
                safety.

            </p>
        </mat-card-content>
    </mat-card>
</div>
<app-footer></app-footer>