<div class="col-md-6 aaa">
  <mat-card class="my-card">
    <mat-card-content>
      <mat-toolbar>
        <span style="float: left;">AutoWithAll</span>
        <div class="awall">
          <span>Register</span>
        </div>
      </mat-toolbar>
      <form class="my-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
          <mat-label>First Name</mat-label>
          <input
            matInput
            id="fname"
            formControlName="fname"
            placeholder="First Name"
            name="fname"
          />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            id="lname"
            formControlName="lname"
            placeholder="Last Name"
            name="lname"
            required
          />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Telephone Number</mat-label>
          <input
            matInput
            id="tnumber"
            formControlName="tnumber"
            placeholder="Telephone Number"
            name="tnumber"
            [ngClass]="{ 'is-invalid': f.tnumber.errors }"
          />
          <div *ngIf="f.tnumber.errors" class="invalid-feedback">
            <div class="errormesg" *ngIf="f.tnumber.errors.pattern">
              Enter valid Number
            </div>
          </div>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>NIC</mat-label>
          <input
            matInput
            id="nic"
            formControlName="nic"
            placeholder="NIC"
            name="nic"
            required
          />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            id="email"
            type="email"
            formControlName="email"
            placeholder="pat@example.com"
            name="email"
            [ngClass]="{ 'is-invalid': f.email.errors }"
          />
          <div *ngIf="f.email.errors" class="invalid-feedback">
            <div class="errormesg" *ngIf="f.email.errors.email">
              Enter valid Email
            </div>
          </div>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            id="password"
            type="password"
            formControlName="password"
            placeholder="Password"
            name="password"
            [ngClass]="{ 'is-invalid': f.password.errors }"
          />
          <div *ngIf="f.password.errors" class="invalid-feedback">
            <div class="errormesg" *ngIf="f.password.errors.minlength">
              Password must be at 6 characters
            </div>
          </div>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Confrim Password</mat-label>
          <input
            matInput
            id="cpassword"
            type="password"
            formControlName="cpassword"
            placeholder="Confrim Password"
            name="cpassword"
            [ngClass]="{ 'is-invalid': f.cpassword.errors }"
          />
          <div *ngIf="f.cpassword.errors" class="invalid-feedback">
            <div class="errormesg" *ngIf="f.cpassword.errors.mustMatch">
              Passwords must match
            </div>
          </div>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Select your role</mat-label>
          <mat-select
            disableRipple
            id="value"
            formControlName="role"
            name="role"
          >
            <mat-option value="agent">Agent</mat-option>
            <mat-option value="lcompany">Leasing Company</mat-option>
            <mat-option value="icompany">Insurence Company</mat-option>
            <mat-option value="nuser">Normal User</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-card-actions>
          <a class="txt1">
            Already have an account?
          </a>
          <a routerLink="/login">
            Login
          </a>
          <button
            mat-raised-button
            color="primary"
            class="button()"
            [disabled]="registerForm.invalid"
          >
            REGISTER
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
    <mat-card-actions> </mat-card-actions>
  </mat-card>
</div>
