 
<app-lease-navbar (toggleSideBarForMe)="sideBarToggler( )"></app-lease-navbar>

<mat-drawer-container>
    <mat-drawer mode="side" [opened] = "sideBarOpen">
        <app-lease-sidebar (childEvent)="selectedComponent=$event"></app-lease-sidebar>
    </mat-drawer>

    <mat-drawer-content>
         
        <app-leasing-dashboard *ngIf= "selectedComponent === 0"></app-leasing-dashboard>
        <app-lease-view-ads *ngIf= "selectedComponent === 1"></app-lease-view-ads>
        <app-leasing-edit-profile *ngIf= "selectedComponent === 2"></app-leasing-edit-profile>

    </mat-drawer-content>
    
</mat-drawer-container>