<mat-card style="text-align: center; color: blue"><h1>Users</h1></mat-card>
<mat-card style="text-align: center;"><p>New Users Requests</p></mat-card>
<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>
  <mat-card style="text-align: center;"><p>Returning Users</p></mat-card>
  <mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>

  
