<mat-card style="text-align: center; color: blue"><h1>Users</h1></mat-card>
<mat-card style="text-align: center;background-color: antiquewhite ;margin-bottom: 10px;margin-top: 10px;"><span>New Users Requests</span></mat-card>
<mat-grid-list cols="4" rowHeight="1.5:1" [gutterSize]="'30px'">
    <mat-grid-tile>   <mat-card>
       
      <img mat-card-image src=" https://www.venmond.com/demo/vendroid/img/avatar/big.jpg" style="height: 170px;">
      <mat-card-content ><button mat-raised-button color="primary">View Request</button></mat-card-content>
   </mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>
       
      <img mat-card-image src=" https://www.venmond.com/demo/vendroid/img/avatar/big.jpg" style="height: 170px;">
      <mat-card-content><button mat-raised-button color="primary">View Request</button></mat-card-content>
   </mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>
       
      <img mat-card-image src=" https://www.venmond.com/demo/vendroid/img/avatar/big.jpg " style="height: 170px;">
      <mat-card-content><button mat-raised-button color="primary">View Request</button></mat-card-content>
   </mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>
       
      <img mat-card-image src=" https://www.venmond.com/demo/vendroid/img/avatar/big.jpg" style="height: 170px;">
      <mat-card-content><button mat-raised-button color="primary">View Request</button></mat-card-content>
   </mat-card></mat-grid-tile>
  </mat-grid-list>
  <mat-card style="text-align: center;background-color: antiquewhite ;margin-bottom: 10px;margin-top: 10px;"><span>Returning Users</span></mat-card>
  <mat-grid-list cols="4" rowHeight="1.5:1"  [gutterSize]="'30px'">
    <mat-grid-tile>   <mat-card>
       
      <img mat-card-image src="https://humans-machines.com/assets/img/studio/800xauto-q80/humans-stefan.jpg" style="height: 170px;">
      <mat-card-content><button mat-raised-button color="primary">View Details</button></mat-card-content>
   </mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>
       
      <img mat-card-image src="https://humans-machines.com/assets/img/studio/800xauto-q80/humans-stefan.jpg " style="height: 170px;">
      <mat-card-content><button mat-raised-button color="primary">View Details</button></mat-card-content>
   </mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>
       
      <img mat-card-image src="https://humans-machines.com/assets/img/studio/800xauto-q80/humans-stefan.jpg " style="height: 170px;">
      <mat-card-content><button mat-raised-button color="primary">View Details</button></mat-card-content>
   </mat-card></mat-grid-tile>
    <mat-grid-tile><mat-card>
       
      <img mat-card-image src="https://humans-machines.com/assets/img/studio/800xauto-q80/humans-stefan.jpg " style="height: 170px;">
      <mat-card-content><button mat-raised-button color="primary">View Details</button></mat-card-content>
   </mat-card></mat-grid-tile>
  </mat-grid-list>

  
