<app-header></app-header>

<div>
    <mat-card style="text-align:center ;font-size: large;">
        Please fill this form to report or inquire about the advertisement
    </mat-card>
    <br />

    <mat-card class="my-card">

        <mat-card-content>
            <mat-toolbar>
                <span style="float: left;">Customer Inquiry</span>
            </mat-toolbar>

            <form class="my-form">

                <mat-form-field class="full-width">
                    <mat-label>Select your Reason</mat-label>
                    <mat-select>
                        <mat-option value="wronginfo">Wrong Information</mat-option>
                        <mat-option value="notcontact">Seller Cannot Contact</mat-option>
                        <mat-option value="fraud">Fraud</mat-option>
                        <mat-option value="duplicate">Duplicate</mat-option>
                        <mat-option value="unavailable">Item Unavailable/Sold</mat-option>
                        <mat-option value="other">Other Reason</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>First Name</mat-label>
                    <input matInput  placeholder="First Name" />
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Last Name</mat-label>
                    <input matInput  placeholder="Last Name" name="lname" required />
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Telephone Number</mat-label>
                    <input matInput placeholder="Telephone Number" />
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput  placeholder="auto@example.com" name="username" />
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Description/your message</mat-label>
                    <textarea matInput class="textarea"></textarea>
                </mat-form-field>


                <mat-card-actions>
                    <button mat-raised-button color="primary" style="margin-left: 200px;"> SUBMIT </button>
                </mat-card-actions>
            </form>

        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
    </mat-card>
</div>

<app-footer></app-footer>