
<!---->
  
  <!-- Advertiesment -->
  <ul>
    <li *ngFor="let item of data">
      <mat-grid-list cols="1" rowHeight="7:1">
        <mat-grid-tile>
          <mat-card class="wrapper">
            <!-- <mat-card-title>one</mat-card-title> -->
            <mat-grid-list cols="4" rowHeight="2:1">
              <mat-grid-tile>
                <mat-card class="one">
                  <img
                    mat-card-image
                    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.Cy79CqMxWJYVkpb3GkkaiwHaE7%26pid%3DApi&f=1"
                    alt="test"
                  />
                </mat-card>
              </mat-grid-tile>
              <mat-grid-tile colspan="2">
                <mat-card class="one">
                  <h4>
                    <b>{{ item.name }} </b>
                  </h4>
                  {{ item.date }} <br />
                  <label style="font-size: medium;">LKR-{{ item.price }}</label>
                  <br /><br>
  
                  from - {{ item.from }} <br />
                  model year - {{ item.year }} <br />
                </mat-card>
              </mat-grid-tile>
              <!-- <mat-grid-tile>
            <mat-card class="one"> </mat-card>
          </mat-grid-tile> -->
              <mat-grid-tile>
                <mat-card class="one">
                  <mat-grid-list cols="2" rowHeight="1:1" gutterSize="5px">
                    <mat-grid-tile colspan="2">
                      <mat-card class="two">
                        <button mat-button color="primary"  margin (click)="openPostLeasingPlanDialog()">Post Leasing Plan</button>
                      </mat-card>
                    </mat-grid-tile>
                  </mat-grid-list>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </li>
  </ul>
  
  <!-- Advertiesment -->
  
 


