<app-sellersidebar></app-sellersidebar>
<mat-grid-list cols="4"  gutterSize="30px" rowHeight='300px'>

  <mat-grid-tile>
    <img src="assets/img/normalseller.jpg"  class="profileimg" height="100px" weight="90px">
  </mat-grid-tile>

  <mat-grid-tile colspan="2">
   
      <mat-card>
        <table class="profile">
          <tr>
              <td style="text-align: left;font-size: 120%">Full Name</td>
              <td style="text-align: center;font-size: 120%">:&nbsp;&nbsp;&nbsp; </td>
              <td style="text-align: left;font-size: 120%">{{user.fname}} {{user.lname}}</td>
          </tr>
          <tr>
              <td style="text-align: left;font-size: 120%">Telephone Number</td>
              <td style="text-align: center;font-size: 120%">:&nbsp;&nbsp;&nbsp; </td>
              <td style="text-align: left;font-size: 120%">{{ user.tnumber }}</td>
          </tr>
          <tr>
              <td style="text-align: left;font-size: 120%">Email Address</td>
              <td style="text-align: center;font-size: 120%">:&nbsp;&nbsp;&nbsp; </td>
              <td style="text-align: left;font-size: 120%">{{ user.username }}</td>
          </tr>
          <tr>
              <td style="text-align: left;font-size: 120%">Home Address</td>
              <td style="text-align: center;font-size: 120%">:&nbsp;&nbsp;&nbsp; </td>
              <td style="text-align: left;font-size: 120%"></td>
          </tr>
           
      </table>
      </mat-card>
   
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card style="background-color: #2aad0c">
      <p style="color:white;  text-align: center">
        <mat-icon>check_circle_outline</mat-icon>
        
        <span style="font-size: 200%; margin-top: 30px">POSTED ADs</span>
        
        <span style="font-size: 300%; margin-top:40px">{{ postedAd }}</span>

      </p>
    </mat-card>
  </mat-grid-tile>

  

  

  
  <mat-grid-tile colspan="2" >
    <mat-card>

      
      <span style="font-size: 150%">Latest Posted Advertisement</span><br><br>
      <table>
        <tr>
          <td style="text-align: left;font-size: 120%">Posted On&nbsp;&nbsp;&nbsp; </td>
          <td style="text-align: center;font-size: 120%">:&nbsp;&nbsp;&nbsp; </td>
          <td style="text-align: left;font-size: 120%">2019/06/01</td>
      </tr>
      <tr>
          <td style="text-align: left;font-size: 120%">Ad reference&nbsp;&nbsp;&nbsp; </td>
          <td style="text-align: center;font-size: 120%">:&nbsp;&nbsp;&nbsp; </td>
          <td style="text-align: left;font-size: 120%">40</td>
      </tr>
      <tr>
        <td style="text-align: left;font-size: 120%">Title&nbsp;&nbsp;&nbsp; </td>
        <td style="text-align: center;font-size: 120%">:&nbsp;&nbsp;&nbsp; </td>
        <td style="text-align: left;font-size: 120%">40</td>
    </tr>
    <tr>
      <td style="text-align: left;font-size: 120%">Manufacturer&nbsp;&nbsp;&nbsp; </td>
      <td style="text-align: center;font-size: 120%">:&nbsp;&nbsp;&nbsp; </td>
      <td style="text-align: left;font-size: 120%">40</td>
  </tr>
  <tr>
    <td style="text-align: left;font-size: 120%">Price&nbsp;&nbsp;&nbsp; </td>
    <td style="text-align: center;font-size: 120%">:&nbsp;&nbsp;&nbsp; </td>
    <td style="text-align: left;font-size: 120%">40</td>
</tr>
    </table>
    

  </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="2" >
    <mat-card>

        <img src="assets/img/car.jpg"  class="car1" width="350px" height="200px">
    </mat-card>
  </mat-grid-tile>

  


</mat-grid-list>



