<app-sellersidebar></app-sellersidebar>
<mat-grid-list cols="4"  gutterSize="30px" rowHeight='300px'>

  <mat-grid-tile>
    <img src="assets/img/normalseller.jpg"  class="profileimg" height="100px" weight="90px">
  </mat-grid-tile>

  <mat-grid-tile colspan="2">
    <mat-card>
      <p style="font-size: 120%">
        <span>Name : Kasun Bandara</span>

        <span>Contact Number : 0712323234</span>

        <span>E-mail : kasunbandara1@gmail.com</span>

        <span>Registered Date : 2020/06/10</span>

        <span>Address: 33A, 5th Lane, Colpetty, Colombo 03</span>
      </p>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card style="background-color: #2aad0c">
      <p style="color:white;  text-align: center">
        <mat-icon>check_circle_outline</mat-icon>
        
        <span style="font-size: 200%; margin-top: 30px">POSTED ADs</span>
        
        <span style="font-size: 300%; margin-top:40px">17</span>

      </p>
    </mat-card>
  </mat-grid-tile>

  

  

  
  <mat-grid-tile colspan="2" >
    <mat-card>

      <p style="font-size: 120%">
        <span style="font-size: 150%">Latest Posted Advertisement</span>
        <span>Posted On : 2020/06/04 </span>
        <span>Ad Reference : 012</span>
        <span>Model Year: 2013</span>
        <span>Manufacture  : Audi </span>
        <span>VehicleType: A4</span>
        <span>Views : 10</span>
      </p>

    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="2" >
    <mat-card>

        <img src="assets/img/car.jpg"  class="car1" width="350px" height="200px">
    </mat-card>
  </mat-grid-tile>

  


</mat-grid-list>



