<app-agentsidebar></app-agentsidebar>
<mat-grid-list cols="3" rows="12" rowHeight="100px" >
  <mat-grid-tile colspan="3">
<mat-card class=title>View all of your advertisements here</mat-card>
</mat-grid-tile>
<mat-grid-tile rowspan="5" colspan="3">
  <mat-card>

 
      <mat-form-field >
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- Ad Reference Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ad Reference </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

       <!-- image Views Column -->
       <ng-container matColumnDef="image1">
        <th mat-header-cell *matHeaderCellDef > Image </th>
        <td mat-cell *matCellDef="let element"> <img class="tableimg" src="{{'http://localhost:8080/advertisement/getimage/' + element.image1}}" /> </td>
      </ng-container>

      <!-- Post Date Column -->
      <ng-container matColumnDef="datetime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Posted Date </th>
        <td mat-cell *matCellDef="let element"> {{element.datetime}} </td>
      </ng-container>

       <!-- Valid date Views Column -->
       <ng-container matColumnDef="validdate">
        <th mat-header-cell *matHeaderCellDef> Valid Till </th>
        <td mat-cell *matCellDef="let element"> {{element.validdate}} </td>
      </ng-container>
  
      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>
  
     
      <!-- Actions View Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions </th>
        <td mat-cell *matCellDef="let row"> <a pageScroll href="viewads#pagedown">
            <button mat-raised-button (click) ="viewAd(row.id)" >VIEW</button> </a></td>
      </ng-container>

      <!-- Actions Update Column -->
      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> Update </th>
        <td mat-cell *matCellDef="let row">  <button mat-raised-button color="primary" [routerLink]="['/updateagentads']"
         >UPDATE</button> </td>
      </ng-container>

      <!-- Actions Delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let row">  <button mat-raised-button color="warn" (click)="openDialog()">DELETE</button> </td>
      </ng-container>
      
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="3">
    </mat-paginator>
  
    <!-- <mat-paginator [pageSizeOptions]="[3]" showFirstLastButtons></mat-paginator> -->
 
</mat-card>
  </mat-grid-tile>

  <div >
  <mat-grid-tile  >
    <mat-card class=title>Your Selected Advertisement</mat-card>
    </mat-grid-tile>
 
    <mat-grid-tile  rowspan="6" colspan="2">
    <mat-card>
      <table class="profile">
        <caption style="caption-side:top">{{adDetail.name}}</caption>
        <tr>
          <td style="text-align: left;">Ad reference</td>
          <td style="text-align: center;">:</td>
          <td style="text-align: left;">{{adDetail.title}}</td>
      </tr>
       <tr>
            <td style="text-align: left;">Price(LKR)</td>
            <td style="text-align: center;">:</td>
            <td style="text-align: left;">{{adDetail.price}}</td>
        </tr>
        <tr>
            <td style="text-align: left;">Vehicle Type</td>
            <td style="text-align: center;">:</td>
            <td style="text-align: left;">{{adDetail.v_type}}</td>
        </tr>
        
        <tr>
            <td style="text-align: left;">Manufacturer</td>
            <td style="text-align: center;">:</td>
            <td style="text-align: left;">{{adDetail.manufacturer}}</td>
        </tr>
        <tr>
            <td style="text-align: left;">Model</td>
            <td style="text-align: center;">:</td>
            <td style="text-align: left;">{{adDetail.model}}</td>
        </tr>
        <tr>
            <td style="text-align: left;">Model Year</td>
            <td style="text-align: center;">:</td>
            <td style="text-align: left;">{{adDetail.m_year}}</td>
        </tr>
        <tr>
            <td style="text-align: left;">Registereted Year</td>
            <td style="text-align: center;">:</td>
            <td style="text-align: left;">{{adDetail.r_year}}</td>
        </tr>
        <tr>
            <td style="text-align: left;">Engine Capacity</td>
            <td style="text-align: center;">:</td>
            <td style="text-align: left;">{{adDetail.e_capacity}}</td>
        </tr>
        <tr>
            <td style="text-align: left;">Mileage</td>
            <td style="text-align: center;">:</td>
            <td style="text-align: left;">{{adDetail.mileage}}</td>
        </tr>
        <tr>
            <td style="text-align: left;">Vehicle Condition</td>
            <td style="text-align: center;">:</td>
            <td style="text-align: left;">{{adDetail.v_condition}}</td>
        </tr>
        <tr>
            <td style="text-align: left;">Transmission</td>
            <td style="text-align: center;">:</td>
            <td style="text-align: left;">{{adDetail.transmission}}</td>
        </tr>
        <tr>
            <td style="text-align: left;">Fuel Type</td>
            <td style="text-align: center;">:</td>
            <td style="text-align: left;">{{adDetail.fuel_type}}</td>
        </tr>
        <tr>
          <td style="text-align: left;">Colour</td>
          <td style="text-align: center;">:</td>
          <td style="text-align: left;">{{adDetail.colour}}</td>
      </tr>
      <tr>
        <td style="text-align: left; color: blue;">Posted On</td>
        <td style="text-align: center;color: blue;">:</td>
        <td style="text-align: left;color: blue;">{{adDetail.datetime}}</td>
    </tr>
    <tr>
      <td style="text-align: left;color: red;">Valid Till</td>
      <td style="text-align: center;color: red;">:</td>
      <td style="text-align: left;color: red;">{{adDetail.datetime}}</td>
  </tr>

    </table>
    </mat-card>
  </mat-grid-tile>
</div>
  <mat-grid-tile  rowspan="3">
    <mat-card>
   
         <img class="car" src="{{'http://localhost:8080/advertisement/getimage/' + adDetail.image1}}" > 
   
  </mat-card>
  </mat-grid-tile>

  <mat-grid-tile  rowspan="2">
    <mat-card id="pagedown">
     Discription :-
     <br>
     <br>
     {{adDetail.description}}
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>



