
   
    
     <mat-grid-list cols="3">
       <mat-grid-tile>
        <mat-card  class="t1"> 
        <div class="image">
          <img style="width: 300px; height: 200px;" src="https://cdn5.f-cdn.com/contestentries/888538/15588545/582b5e379d936_thumb900.jpg" >  
          
        
        
         <div>
          <table class="profile">
          <tr>
            <td style="text-align: left;">Company Name</td>
            <td style="text-align: center;">:</td>
            <td style="text-align: left;">Lease For You</td>
          </tr>
          <tr>
            <td style="text-align: left;">Address</td> 
            <td style="text-align: center;">:</td>
            <td style="text-align: left;">High Level Road, Colombo 02</td>
          </tr>
          <tr>
            <td style="text-align: left;">Contact No</td>
            <td style="text-align: center;">:</td>
            <td style="text-align: left;">0112233445</td> 
          </tr>
          <tr>
            <td style="text-align: left;">Email</td>
            <td style="text-align: center;">:</td>
            <td style="text-align: left;">leaseforyou@gmail.com</td>
          </tr>

        </table>
      </div>
    </div> 
    </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card> 
        <div class="profile-card">
           <div class="header">
             <a class="User"><h2>Agent of The Company</h2></a> 
           </div>   
           <mat-card-subtitle>Leasing Provider</mat-card-subtitle>
           <div class="logo">  
           <img src="https://static.photocdn.pt/images/articles/2019/08/07/images/articles/2019/07/31/linkedin_profile_picture_tips-1.jpg">
           </div>
        </div>
       </mat-card> 
    </mat-grid-tile>
    
    <mat-grid-tile>
       <mat-card class="status"> 
         <div class="status">
            <h2>Your Status</h2>
            <div style="color: green;"><h1>Active</h1></div>
            <h3>Your membership will expire in 7 days</h3>
            <button mat-raised-button color="primary">click to pay</button>
        </div>
       </mat-card>
      
    </mat-grid-tile>
    </mat-grid-list>

       
         
         
          
     
       
       
        

      
       

 
     

     
    
  
     
   
    