<app-header></app-header>
<div class="col-md-6 aaa">
    <mat-card class="my-card">
        <mat-card-content>
            <mat-toolbar>
                <span style="float: left;">FAQ</span>
            </mat-toolbar>

            <br />
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title style="font-size: large;color: brown;">
                            How Do I Post an Advertisement?
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <p>To post an advertisement you have to login first. <br />
                        If you are registered as a salesagent you can post your advertisement free but need the
                        activation of your package.
                        <br />If you are login as a registered as a normal seller you can post your adverstisement by
                        paying the required amount.</p>

                </mat-expansion-panel>
            </mat-accordion>
            <br />

            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title style="font-size: large;color: brown;">
                            How Can I Report an Advertisement?
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <p>To Report an advertisement you have first select the advertisement. <br />
                        There you will have the option to report (a button on the top right corner) an
                        ad or inquire further by fillling the form

                </mat-expansion-panel>
            </mat-accordion>
            <br />

            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title style="font-size: large;color: brown;">
                            How Can I Delete an Advertisement?
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <p>Delete an advertisement is very easy in AutoWithAll. <br />
                        To Delete an advertisement first go to your dashboard <br />
                        There you have the option to see all the advertisement posted by you on My Advertisement page.
                        Just find the advertisement you need and delete it.

                </mat-expansion-panel>
            </mat-accordion>
            <br />

            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title style="font-size: large;color: brown;">
                            How Can I Set a new password in AutoWithAll?
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <p>To set new advertisement you have to first goto your dashborad by login using current
                        password.<br />
                        In dashborad you can see the pag 'Edit Details' <br />
                        There you change and update all the details and can also set new password.

                </mat-expansion-panel>
            </mat-accordion>
            <br />
            <mat-accordion>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title style="font-size: large;color: brown;">
                            How Can I Hire a Salesagent?
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <p>You can view all the available salesagents on home page of the website<br />
                        click on any name you want and There you can see the contanct details and location
                        details of the relevant salesagent <br />

                </mat-expansion-panel>
            </mat-accordion>
            <br />
        </mat-card-content>
    </mat-card>
</div>
<app-footer></app-footer>