<html>
    <body>
        <mat-card>
        <form  [formGroup]="editForm" (ngSubmit)="onSubmit()">
            
            <span style="font-size: 150%" >Edit your details here</span><br><br><br>  
            <mat-form-field class="full-width">
              <input matInput placeholder="FName" formControlName="fname" />
            </mat-form-field><br>
  
            <mat-form-field class="full-width">
              <input matInput placeholder="Email" formControlName="username" />
            </mat-form-field><br>
  
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Contact Number"
                formControlName="t_number"
              />
            </mat-form-field><br>
  
            <mat-form-field class="full-width">
              <input matInput placeholder="Address" formControlName="address" />
            </mat-form-field><br><br>
            <span style="font-size: 150%"
              ><button
              type="reset"
                class="button"
                mat-raised-button
                color="primary"
                style="margin-right: 50px; margin-left: 200px"
              >
                CANCEL
              </button>
              <button
              type="submit"
                class="button"
                mat-raised-button
                color="primary"
                style="margin-left: 50px"
              >
                SAVE
              </button></span
            >
          </form>
        </mat-card>
  
          <span></span>
         
 
  
     <!-- <br><br> -->
     <!-- <h1 style="color: rgb(29, 68, 238); text-align: center; font-family: cursive;">Manage My Profile</h1> -->
 
        <!-- <div class="content">
         <form class="form">
             <br>
             <div class="example-container">
                 <mat-form-field appearance="outline" class="field">
                     <mat-label><mat-icon> create</mat-icon>Add Your Company Description</mat-label>
                     <input matInput>  
                 </mat-form-field>
                 <br>
 
                 <mat-form-field appearance="outline" class="field">
                     <mat-label><mat-icon> create</mat-icon>Add Your Company Vision</mat-label>
                     <input matInput type="text">  
                 </mat-form-field>
                 <br>
 
                 <mat-form-field appearance="outline" class="field">
                     <mat-label><mat-icon> create</mat-icon>Add your Company Mission</mat-label>
                     <input matInput>  
                 </mat-form-field>
                 <br>
 
                 <mat-form-field appearance="outline" class="field">
                     <mat-label><mat-icon> create</mat-icon>Add Your Company Core Values</mat-label>
                     <input matInput>  
                 </mat-form-field>
                 <br>
 
                 <mat-form-field appearance="outline" class="field">
                     <mat-label><mat-icon> create</mat-icon>Add Your Company Key Differentiators</mat-label>
                     <input matInput>  
                 </mat-form-field>
                 <br>
                 
                 
          
             </div>
             
             <button mat-raised-button color="primary">Submit</button>
             <button mat-raised-button color="primary">Clear</button>
         </form>
 
         
 
     </div> -->
       
    </body>
   
 </html>