<div class="col-md-6 aaa">
   <mat-card class="my-card">
      <mat-card-content>
         <mat-toolbar>
            <span style="float: left;">AutoWithAll</span>
            <div class="awall">
               <span>Login</span>
            </div>
            
         </mat-toolbar>
         <form class="my-form">
            <mat-form-field class="full-width">
               <mat-label>Email</mat-label>
               <input matInput placeholder="Email" name="email">
            </mat-form-field>
            <mat-form-field class="full-width">
               <mat-label>Password</mat-label>
               <input matInput placeholder="Password" name="password">
            </mat-form-field>

            <div class="contact100-form-checkbox">
               <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
               <label class="label-checkbox100" for="ckb1">
                  Remember me
               </label>
               <a class="txt1" routerLink="/froget-password">
                  Forgot Password?
               </a>
            </div>
            <button class="button" mat-raised-button color="primary">LOGIN</button>
         </form>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
   </mat-card>
</div>