.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    padding-top: 100px;
  }
   
  .full-width {
    width: 100%;
  }
  .my-card{
  margin-top:auto;
  height: 500px;
  
  }
  
  .aaa{
  margin: auto;
  }
  .button{
  float: right;
  }
  