 <mat-sidenav-container class="sidenav-container">

        <mat-sidenav #drawer class="sidenav" fixedInViewport
            [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
            [mode]="(isHandset$ | async) ? 'over' : 'side'"
            [opened]="(isHandset$ | async) === false">
          <mat-toolbar style="text-align: center;">Profile</mat-toolbar>
      
          <mat-list id="menus">
            <!-- <mat-card>
              <mat-card-header>
                <div 
                  mat-card-avatar 
                  class="avatar"></div>
      
                <mat-card-title>Amalia Peter</mat-card-title>
                <mat-card-subtitle>Admin</mat-card-subtitle>
                <mat-card-subtitle> <img src="assets/img/Admin1.jpg" ></mat-card-subtitle>
              </mat-card-header>
            </mat-card> -->
            <mat-list-item>
              <button 
              class="menu-item"
                mat-flat-button>
                <mat-icon>account_circle</mat-icon>
              Users</button>
            </mat-list-item>
      
            <mat-list-item>
                <button 
                class="menu-item"
                  mat-flat-button>
                  <mat-icon>tab</mat-icon>
                Advertisements</button>
              </mat-list-item>

              <mat-list-item>
                <button 
                class="menu-item"
                  mat-flat-button>
                  <mat-icon>directions_car</mat-icon>
                Payings</button>
              </mat-list-item>
      
      
              <mat-list-item>
                <button 
                class="menu-item"
                  mat-flat-button>
                  <mat-icon>directions_car</mat-icon>
                Insurance Companies</button>
              </mat-list-item>
      
              <mat-list-item>
                <button 
                class="menu-item"
                  mat-flat-button>
                  <mat-icon>directions_car</mat-icon>
                Leasing Companies </button>
              </mat-list-item>
      
            </mat-list>
        </mat-sidenav>
      
        <mat-sidenav-content>
          <mat-toolbar color="primary">
            <button
             type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>AutoWithAll</span>
            <span class="fill-space"></span>
            <mat-icon
          class="toolbar-icon"
          matBadge="8"
          matBadgePosition="after"
          matBadgeColor="accent"
        >notifications</mat-icon>
        <a mat-button routerLink='../login'>Log out</a>
          </mat-toolbar>
          <mat-grid-list cols="2" rowHeight="2:1">
              <mat-grid-tile>
                  <mat-card>
                      <mat-card-header>
                        <div 
                          mat-card-avatar 
                          class="avatar"></div>
              
                        <mat-card-title>Amalia Peter</mat-card-title>
                        <mat-card-subtitle>Admin</mat-card-subtitle>
                        <mat-card-subtitle> <img class="a" src="assets/img/Admin1.jpg" ></mat-card-subtitle>
                        
                      </mat-card-header>
                      <mat-card-content>
                          <button mat-raised-button color="primary">Edit Details</button>

                      </mat-card-content>
                    </mat-card>

              </mat-grid-tile>
              <mat-grid-tile>
                  <!-- <img  class="img1" src="assets/img/mysales.png"  >  -->
                   <mat-card>
                      <mat-card-title>Trending</mat-card-title>
                      <img mat-card-image src="https://www.toyota.lk/wp-content/uploads/2019/04/Camry-frount.jpg" style="height: 170px;">
                      <mat-card-content><button mat-raised-button color="primary">View</button></mat-card-content>
                   </mat-card>
                 </mat-grid-tile>  
           
                
                 </mat-grid-list>
                 <mat-grid-list cols="2" rowHeight="2:1" [gutterSize]="'50px'">
                  <mat-grid-tile class="gl2">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                      <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->
                    
                      <!-- Position Column -->
                      <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                      </ng-container>
                    
                      <!-- Name Column -->
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Agent </th>
                        <td mat-cell *matCellDef="let element"> {{element.Agent}} </td>
                      </ng-container>
                    
                      <!-- Weight Column -->
                      <ng-container matColumnDef="weight">
                        <th mat-header-cell *matHeaderCellDef> Income </th>
                        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                      </ng-container>
                    
                      <!-- Symbol Column -->
                      <ng-container matColumnDef="symbol">
                        <th mat-header-cell *matHeaderCellDef> Addcount </th>
                        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                      </ng-container>
                    
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    
                    
                  </mat-grid-tile>
                  <mat-grid-tile class="gl2" >
                    
                    <mat-card style="background-color: rgb(51, 185, 185); height: 300px; width: 300px; margin-right: 40px;margin-bottom: 30px;" >
                    <mat-card-content style="color: rgb(15, 19, 20);font-size: 30px;text-align: center;margin-top: 30px;"><h1>Sellers Count</h1></mat-card-content>
                    <button mat-fab color="blue" aria-label="Example icon button with a delete icon" style="width: 100px;height: 100px;margin-left: 50px;">45</button>
                     
                    </mat-card>
                    <mat-card style="background-color: rgb(51, 185, 185);height: 300px; width: 300px;margin-right: 40px;margin-bottom: 30px; "> 
                      <mat-card-content style="color: rgb(15, 19, 20);font-size: 30px;text-align: center;margin-top: 30px;"><h1>Agents Count</h1></mat-card-content>
                      <button mat-fab color="blue" aria-label="Example icon button with a delete icon" style="width: 100px;height: 100px;margin-left: 50px;">45</button>
                    </mat-card>
                      
                    
                  </mat-grid-tile></mat-grid-list>
                 <mat-card style="text-align: center;background-color: rgb(105, 105, 197);margin-bottom: 20px;"><h1>New Requests</h1></mat-card>
                 
                 <mat-grid-list cols="4" rowHeight="2:1" [gutterSize]="'70px'">
                  <mat-grid-tile  class="gl1" >New Users
                    <span matBadge="2" matBadgeOverlap="false"> </span>
                  </mat-grid-tile>
                  <mat-grid-tile  class="gl1" >New Advertisements
                    <span matBadge="6" matBadgeOverlap="false"> </span>
                  </mat-grid-tile>
                  <mat-grid-tile  class="gl1" >New Leasing Companies
                    <span matBadge="3" matBadgeOverlap="false"> </span>
                  </mat-grid-tile>
                  <mat-grid-tile  class="gl1" >New Advertisements
                    <span matBadge="9" matBadgeOverlap="false"> </span>
                  </mat-grid-tile>
                 </mat-grid-list>
                 <mat-card style="background: whitesmoke"></mat-card>

                 
                   
                
                
            
               
            
               
            
              
           
           
             

          
         
            
          <!-- Add Content Here -->
        </mat-sidenav-content>
      
      </mat-sidenav-container>
       
      
       
       
      
      
      
     
  
