<mat-toolbar class="custom-toolbar1">
    <mat-toolbar-row>
    <!--  <span>HOME</span> -->
    
      <div class="inner" >
        <img src="./assets/index.jpg">
      </div>
    
      <span class="spacer"></span>
      
      <div class="view-txt">
         View latest plan here
        <a class="view-btn"   >
          <button   mat-icon-button >
            <mat-icon>touch_app</mat-icon>
          </button>
        </a>
      </div>

       
         
      
       <div class="search-box">
         <input class="search-txt" type="text" placeholder="Search...">
         <a class="search-btn" href="#">
           <button mat-icon-button  >
             <mat-icon>search</mat-icon>
           </button>
         </a>
       </div>

       <mat-icon color="primary" style="margin-right:10px">
         phone_in_talk
      </mat-icon>
     
      <div class="row">
        0116699200
      </div>
      

  </mat-toolbar-row>
</mat-toolbar>

<img src="./assets/dream2.jpg">

<mat-toolbar class="custom-toolbar2">
  <mat-toolbar-row >
      <div class="who">Who We Are...</div>  
       
  </mat-toolbar-row>
</mat-toolbar>
<div class="content">
  <p> 
    People's Leasing & Finance PLC is a subsidiary of People's Bank and is a limited liability company 
    listed on the Main Board of the Colombo Stock Exchange (CSE). Our Group consists of five subsidiaries, 
    namely; People's Leasing Fleet Management Limited, People's Leasing Property Development Limited, 
    People's Leasing Havelock Properties Limited, People's Microfinance Limited, and People's Insurance 
    Limited. Having secured market leadership in the leasing industry just six years into operations, 
    we have been successful in retaining this coveted title for more than ten years. In November 2012, 
    the company received the licence from the Monetary Board of the Central Bank of Sri Lanka to conduct 
    finance business under the Finance Business Act No.42 of 2011 and we now rank as the largest non-banking 
    financial institution in Sri Lanka (in terms of the asset base).
  </p>
</div>

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card class="status"> 
               <div class="status"> 
               <h1>Our Vision</h1>
               <div style="color: rgb(6, 103, 110);">
                <h2> To become legendary in the financial-service scene as a provider of customer-friendly. Creative and innovative total solutions</h2></div>
              </div>
          </mat-card>
    </mat-grid-tile>

    

    <mat-grid-tile>
      <mat-card class="status"> 
        <div class="status"> 
        <h1>Our Mission</h1>
        <div style="color: rgb(6, 103, 110);">
         <h2> 
          Dedicated value-added customer service to accomplish organizational service excellence whilst maintaining a advantage
          </h2>
        </div>
      </div>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="status"> 
      <div class="status"> 
      <h1>Our Core Values</h1>
      <div style="color: rgb(6, 103, 110);">
       <h2> 
         <ul>
            <li>Economic viability</li>
            <li>Environmental Responsibility</li>
            <li>Social Accountability</li>
          </ul> 
        </h2>
      </div>
    </div>
  </mat-card>
  </mat-grid-tile>


    <mat-grid-tile>
      <mat-card class="status"> 
        <div class="status"> 
        <h1>Our Key Differentiators</h1>
        <div style="color: rgb(6, 103, 110);">
         <h2> 
           <ul>
              <li>Committed & skilled workforce</li>
              <li> Our diversified portfolio</li>
              <li>Ability to respond to changing enviroment</li>
            </ul> 
          </h2>
        </div>
      </div>
    </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  

 

 
 

 

