<app-header></app-header>
<div class="container">
    <div class="wrapper">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="slide">
                    <img height="400"
                        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.GLDvIAk-GIv1EGNu73Sx3wHaEK%26pid%3DApi&f=1">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide">
                    <img height="400"
                        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.Hcx3z8oz1DNrVMzQkZNK7QHaEK%26pid%3DApi&f=1">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide">
                    <img height="400"
                        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.xeTi1VM-j4oOf43Mp9JuxwHaFj%26pid%3DApi&f=1">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide">
                    <img height="400"
                        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.SHKsU8HMNkLXJ5KPMsFlNQHaEn%26pid%3DApi&f=1">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide">
                    <img height="400"
                        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.t587nq1t7uZ7HSE5sj-4xgHaEw%26pid%3DApi&f=1">

                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>