<p>works</p>
<mat-grid-list cols="1" rowHeight="7:1">
    <mat-grid-tile>
        <mat-card class="wrapper">
            <!-- <mat-card-title>one</mat-card-title> -->
            <mat-grid-list cols="4" rowHeight="2:1">
                
                <mat-grid-tile>
                    <mat-card class="one">
                        simple2

                        <img mat-card-image src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.Cy79CqMxWJYVkpb3GkkaiwHaE7%26pid%3DApi&f=1" alt="test">
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="one">
                        simple1 <br>
                        simple1 <br>
                        simple1 <br>
                        simple1 <br>
                        
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="one">
                        simple2
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="one">
                        simple2
                    </mat-card>
                </mat-grid-tile>


            </mat-grid-list>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="wrapper">
            <!-- <mat-card-title>one</mat-card-title> -->
            <mat-grid-list cols="4" rowHeight="2:1">
                
                <mat-grid-tile>
                    <mat-card class="one">
                        simple2

                        <img mat-card-image src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.Cy79CqMxWJYVkpb3GkkaiwHaE7%26pid%3DApi&f=1" alt="test">
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="one">
                        simple1 <br>
                        simple1 <br>
                        simple1 <br>
                        simple1 <br>
                        
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="one">
                        simple2
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="one">
                        simple2
                    </mat-card>
                </mat-grid-tile>


            </mat-grid-list>
        </mat-card>
    </mat-grid-tile>
    
</mat-grid-list>