<app-header></app-header>
<!-- <div class="btn-group" role="group" aria-label="Carousel toggle controls">
    <button type="button" (click)="showNavigationArrows = !showNavigationArrows" class="btn btn-outline-dark btn-sm">Toggle navigation arrows</button>
    <button type="button" (click)="showNavigationIndicators = !showNavigationIndicators" class="btn btn-outline-dark btn-sm">Toggle navigation indicators</button>
  </div> -->
<div class="container abc">
  <mat-grid-list cols="3" rowHeight="3:1">
    <!-- <mat-grid-tile></mat-grid-tile> -->
    <mat-grid-tile>
      <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows"
        [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide *ngFor="let image of images">
          <div class="picsum-img-wrapper">
            <img [src]="image" alt="Random slide" />
          </div>
          <!-- <div class="carousel-caption">
          <h3>No mouse navigation</h3>
          <p>This carousel hides navigation arrows and indicators.</p>
        </div> -->
        </ng-template>
      </ngb-carousel>
    </mat-grid-tile><mat-grid-tile>
      <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows"
        [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide *ngFor="let image of images">
          <div class="picsum-img-wrapper">
            <img [src]="image" alt="Random slide" />
          </div>
          <!-- <div class="carousel-caption">
          <h3>No mouse navigation</h3>
          <p>This carousel hides navigation arrows and indicators.</p>
        </div> -->
        </ng-template>
      </ngb-carousel>
    </mat-grid-tile><mat-grid-tile>
      <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows"
        [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide *ngFor="let image of images">
          <div class="picsum-img-wrapper">
            <img [src]="image" alt="Random slide" />
          </div>
          <!-- <div class="carousel-caption">
          <h3>No mouse navigation</h3>
          <p>This carousel hides navigation arrows and indicators.</p>
        </div> -->
        </ng-template>
      </ngb-carousel>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<!-- Advertiesment -->

<mat-grid-list cols="4" rows="4" rowHeight="250px">

  <mat-grid-tile rowspan="4">
    <mat-card class="two" style="background-color: #cedbdb;">
      <mat-card-header>
        <mat-card-title>SALES AGENTS</mat-card-title>
        <mat-card-subtitle>Hire a Salesagent to post your Advertisement</mat-card-subtitle>
      </mat-card-header>
     
      <mat-accordion *ngFor="let item1 of agentList">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{item1.fname}} {{item1.lname}}
            </mat-panel-title>

          </mat-expansion-panel-header>
          <p>Contact - {{item1.tnumber}}</p>
          <p>Email - {{item1.username}}</p>
          <p>Location - {{item1.address}}</p>
        </mat-expansion-panel>
        <br>
      </mat-accordion>
      <br />

    </mat-card>
  </mat-grid-tile>

  
  <mat-grid-tile colspan="3">
    <mat-card class="wrapper">

      <mat-grid-list cols="4" *ngFor="let item of list">

        <mat-grid-tile>
          <mat-card class="one">
            <img mat-card-image src="{{'http://localhost:8080/advertisement/getimage/' + item.image1}}" alt="test"
              [routerLink]="['/home-view-ad']" (click) = "viewAd(item)" />
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <mat-card class="one">
            <h4>
              <b style="font-size: larger;">{{ item.title }} </b><br />Posted on 2020/20/01
            </h4>
            <label style="font-size: large;color: blueviolet;">LKR - {{ item.price }}</label>
            <br />
            <table>
              <tr>
                <td style="text-align: left;">Model Year</td>
                <td style="text-align: center;">:</td>
                <td style="text-align: left;">{{ item.m_year }}</td>

              </tr>
              <tr>
                <td style="text-align: left;">Location</td>
                <td style="text-align: center;">:</td>
                <td style="text-align: left;">{{ item.location }}</td>
              </tr>
            </table> <br />
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card class="one">
            <mat-grid-list cols="2" rowHeight="2:1" gutterSize="5px">
              <mat-grid-tile colspan="2">
                <button mat-raised-button color="primary" class="button1">View Leasing Plans</button>
              </mat-grid-tile>
              <mat-grid-tile colspan="2">
                <button mat-raised-button color="primary" class="button1">View Insurance Plan</button>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card>
        </mat-grid-tile>


      </mat-grid-list>
    </mat-card>


  </mat-grid-tile>
  

</mat-grid-list>


<!-- Advertiesment -->



<app-footer></app-footer>