<app-header></app-header>
<!-- <div class="btn-group" role="group" aria-label="Carousel toggle controls">
    <button type="button" (click)="showNavigationArrows = !showNavigationArrows" class="btn btn-outline-dark btn-sm">Toggle navigation arrows</button>
    <button type="button" (click)="showNavigationIndicators = !showNavigationIndicators" class="btn btn-outline-dark btn-sm">Toggle navigation indicators</button>
  </div> -->
<div class="abc">
  <mat-grid-list cols="1" rowHeight="6:1">

    <mat-grid-tile>
      <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows"
        [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide *ngFor="let image of images">
          <div class="picsum-img-wrapper">
            <img [src]="image" alt="Random slide">
          </div>
          <!-- <div class="carousel-caption">
          <h3>No mouse navigation</h3>
          <p>This carousel hides navigation arrows and indicators.</p>
        </div> -->
        </ng-template>
      </ngb-carousel>
    </mat-grid-tile>

  </mat-grid-list>
</div>


<mat-grid-list cols="1" rowHeight="7:1">
  <mat-grid-tile>
    <mat-card class="wrapper">
      <!-- <mat-card-title>one</mat-card-title> -->
      <mat-grid-list cols="4" rowHeight="2:1">

        <mat-grid-tile>
          <mat-card class="one">
            <img mat-card-image
              src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.Cy79CqMxWJYVkpb3GkkaiwHaE7%26pid%3DApi&f=1"
              alt="test">
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="one">
            <h2><b>Audi A4 </b></h2>
            2020/05/22 <br>
            LKR 8,254,000 <br>
            from - colombo
            model year - 2018 <br>

          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="one">

          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="one">
            <button mat-button>leasing</button><br>
            <mat-divider></mat-divider>
            <button mat-button>insure</button>
          </mat-card>
        </mat-grid-tile>


       </mat-grid-list>
    <!-- </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="wrapper">
      <mat-card-title>one</mat-card-title> 
      <mat-grid-list cols="4" rowHeight="2:1">

        <mat-grid-tile>
          <mat-card class="one">
            simple2

            <img mat-card-image
              src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.Cy79CqMxWJYVkpb3GkkaiwHaE7%26pid%3DApi&f=1"
              alt="test">
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="one">
            simple1 <br>
            simple1 <br>
            simple1 <br>
            simple1 <br>

          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="one">
            simple2

          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="one">
            simple2
          </mat-card>
        </mat-grid-tile>


      </mat-grid-list> -->
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>