.abc {
    padding-top: 25px;
}
.one {
    width: 100%;
    height: calc(100% - 30px);
    
    
}
.two {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    
}

.wrapper {
    width: 90%;
    
    border-bottom: 1px slateblue;
}

.button:hover{
    font-size: 30px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
  }
  .button1 {
    width: 200px;
   }

   
 
  
  


