<h3 mat-dialog-title class="title"><b>Select Package what you want</b></h3>

<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile>
    <mat-card>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img height="100%" src="./../../../../assets/img/platinum-pkg.png" alt="Platinum">
          </div>
          <div class="flip-card-back">
            <h1>Platinum Package</h1>
            <p>Price : 4000/=</p>
            <p>Ads : 40</p>
            <button (click) ="choosePlan(1)" mat-raised-button color="primary" >Choose</button>
          </div>
        </div>
      </div>
    </mat-card> </mat-grid-tile
  ><mat-grid-tile>
    <mat-card>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img height="100%" src="./../../../../assets/img/gold-package.png" alt="Gold">
          </div>
          <div class="flip-card-back">
            <h1>Gold Package</h1>
            <p>Price : 3000/=</p>
            <p>Ads : 30</p>
            <button mat-raised-button color="primary" (click) ="choosePlan(2)" >Choose</button>
          </div>
        </div>
      </div>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img height="100%" src="./../../../../assets/img/silver-package.png" alt="Silver">
          </div>
          <div class="flip-card-back">
            <h1>Silver Package</h1>
            <p>Price : 1000/=</p>
            <p>Ads : 10</p>
            <button (click) ="choosePlan(3)" mat-raised-button color="primary" >Choose</button>
          </div>
        </div>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

