<div class="col-md-6 aaa">
    <mat-card class="my-card">
       <mat-card-content>
          <mat-toolbar>
             <span style="float: left;">AutoWithAll</span>
             <span class="spacer"></span>
             <div class="awall">
                <span>Reset Password</span>
             </div>
             
          </mat-toolbar>
          <form class="my-form">
             <mat-form-field class="full-width">
                <mat-label>Email Address/Mobile Number</mat-label>
                <input matInput placeholder="Email" name="email">
             </mat-form-field>
 
             <div class="contact100-form-checkbox">
                <label class="label-checkbox100" for="ckb1">
                   Your  verification code will be expired automatically after 10 minitues
                </label>
             </div>
             <button class="button" mat-raised-button color="primary">Send Verification Code</button>
          </form>
       </mat-card-content>
       <mat-card-actions>
       </mat-card-actions>
    </mat-card>
 </div>