 <html>
   <body>

        
       <h1 style="color: rgb(29, 68, 238); text-align: center; font-family: cursive;">Edit My Profile</h1>

       <div class="content">
        <form class="form">
            <br>
            <div class="example-container">
                <mat-form-field appearance="outline" class="field">
                    <mat-label><mat-icon> create</mat-icon>Company Name</mat-label>
                    <input matInput>  
                </mat-form-field>
                <br>

                <mat-form-field appearance="outline" class="field">
                    <mat-label><mat-icon> create</mat-icon>Company Address</mat-label>
                    <input matInput type="text">  
                </mat-form-field>
                <br>

                <mat-form-field appearance="outline" class="field">
                    <mat-label><mat-icon> create</mat-icon>Contact Number</mat-label>
                    <input matInput>  
                </mat-form-field>
                <br>

                <mat-form-field appearance="outline" class="field">
                    <mat-label><mat-icon> create</mat-icon>Email</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="email" required>  
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <br>
         
         
            </div>

        </form>

    </div>

 
    <br><br>
    <h1 style="color: rgb(29, 68, 238); text-align: center; font-family: cursive;">Manage My Profile</h1>

       <div class="content">
        <form class="form">
            <br>
            <div class="example-container">
                <mat-form-field appearance="outline" class="field">
                    <mat-label><mat-icon> create</mat-icon>Add Your Company Description</mat-label>
                    <input matInput>  
                </mat-form-field>
                <br>

                <mat-form-field appearance="outline" class="field">
                    <mat-label><mat-icon> create</mat-icon>Add Your Company Vision</mat-label>
                    <input matInput type="text">  
                </mat-form-field>
                <br>

                <mat-form-field appearance="outline" class="field">
                    <mat-label><mat-icon> create</mat-icon>Add your Company Mission</mat-label>
                    <input matInput>  
                </mat-form-field>
                <br>

                <mat-form-field appearance="outline" class="field">
                    <mat-label><mat-icon> create</mat-icon>Add Your Company Core Values</mat-label>
                    <input matInput>  
                </mat-form-field>
                <br>

                <mat-form-field appearance="outline" class="field">
                    <mat-label><mat-icon> create</mat-icon>Add Your Company Key Differentiators</mat-label>
                    <input matInput>  
                </mat-form-field>
                <br>
                
                
         
            </div>
            
            <button mat-raised-button color="primary">Submit</button>
            <button mat-raised-button color="primary">Clear</button>
        </form>

        

    </div>
      
   </body>
  
</html>
  
      