<body>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
          <!--  <span>HOME</span> -->
          <button mat-icon-button class="icon" aria-label="Example icon button with a menu icon" (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
          </button>
           <div>AutoWithAll</div> 
          <span class="spacer"></span>
          <button mat-icon-button class="icon"  >
            <mat-icon>notifications</mat-icon>
          </button>
          <a mat-button (click) = "logout()">Logout</a>
        </mat-toolbar-row>
      </mat-toolbar>
</body>>
